# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
.vercel
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Locale build outputs
locales_dist
i18n/locales_dist

# Crowdin Members Result
assets/data/i18n-members.ts

# SPA Loading Template (Dynamically Generated)
app/spa-loading-template.html

# CF Pages Redirect
public/_redirects
.favorites.json
