/** Japanese (GenjyuuGothicX) */
@import url('./GenJyuuGothicX-Bold/GenJyuuGothicX-Bold.css');
@import url('./GenJyuuGothicX-P-Bold/GenJyuuGothicX-P-Bold.css');
@import url('./GenJyuuGothicX-P-Regular/GenJyuuGothicX-P-Regular.css');
@import url('./GenJyuuGothicX-Regular/GenJyuuGothicX-Regular.css');
/** Korean (Gothic A1) */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');
/** Simplified Chinese (Noto Sans SC) */
@import url('https://fonts.googleapis.cn/css2?family=Noto+Sans+SC:wght@400;700&display=swap');
/** Traditional Chinese (Noto Sans TC) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
/** Thai (Kodchasan) */
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: Nunito, var(--mi-localized-font, 'Hiragino Maru Gothic Pro'), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html[lang='ja-JP'],
html[lang='ja-KS'],
._i18n[lang='ja'],
._i18n[lang='ja-JP'],
._i18n[lang='ja-KS'] {
    --mi-localized-font: 'Hiragino Maru Gothic Pro';
    --mi-localized-font-p: 'Hiragino Maru Gothic Pro';
}

html[lang='ko-KR'],
._i18n[lang='ko'],
._i18n[lang='ko-KR'] {
    --mi-localized-font: 'Gothic A1';
}

html[lang='zh-CN'],
._i18n[lang='cn'],
._i18n[lang='zh-CN'] {
    --mi-localized-font: 'Noto Sans SC';
}

html[lang='zh-TW'],
._i18n[lang='tw'],
._i18n[lang='zh-TW'] {
    --mi-localized-font: 'Noto Sans TC';
}

html[lang='th-TH'],
._i18n[lang='th'],
._i18n[lang='th-TH'] {
    --mi-localized-font: 'Kodchasan';
}
