html, body {
	margin: 0;
	padding: 0;
}

html {
	overflow: auto;
	color: #222;
}
html.dark {
	color: #eee;
}

._plainButton {
	appearance: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
	touch-action: manipulation;
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	font-size: 1em;
	font-family: inherit;
	line-height: inherit;
	max-width: 100%;
}

._plainLink {
	color: inherit;
	text-decoration: none;
}

.__v_textUnderline {
	position: relative;
}
.__v_textUnderline::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 6px;
	background: linear-gradient(90deg, #86b300, #4ab300, #4ab300);
	border-radius: 999px;
	pointer-events: none;
	transition: all 0.5s ease;
	transition-delay: 0.3s;
}
.__v_textUnderline_out::before {
	opacity: 0;
	width: 0%;
}
.__v_textUnderline_in::before {
	opacity: 0.6;
	width: 100%;
}
:global(html.dark) {
	.__v_textUnderline_in::before {
		opacity: 0.75;
	}
}
