@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-family-title: 'Capriola', var(--mi-localized-font, ''), var(--font-family-sans);
    --font-family-sans: 'Nunito', var(--mi-localized-font, ''), var(--font-family-sans);
    --font-family-content-sans: 'Nunito', var(--mi-localized-font-p, var(--mi-localized-font)), var(--font-family-sans);

    --breakpoint-xs: 475px;
    --breakpoint-3xl: 1970px;

    --color-accent-50: #fcffe5;
    --color-accent-100: #f6ffc7;
    --color-accent-200: #ecff95;
    --color-accent-300: #dcfe58;
    --color-accent-400: #c9f526;
    --color-accent-500: #aadc06;
    --color-accent-600: #86b300;
    --color-accent-700: #638506;
    --color-accent-800: #4f690b;
    --color-accent-900: #42580f;
    --color-accent-950: #223201;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	.bi::before,
	[class^="bi-"]::before,
	[class*=" bi-"]::before,
	.bi {
		display: inline-block;
		font-family: bootstrap-icons !important;
		font-style: normal;
		font-weight: normal !important;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		vertical-align: -0.125em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.bi {
    width: 1em;
    height: 1em;
}

body {
    min-height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

/*  */
.uwu-enter-active,
.uwu-leave-active {
	position: relative;
	top: 0;
	left: 0;
}

.uwu-enter-active {
	transition: transform 1.5s cubic-bezier(0.22, 0.61, 0.36, 1),
		opacity 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.uwu-leave-active {
	transition: transform 1s cubic-bezier(0.55, 0.06, 0.68, 0.19),
		opacity 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.uwu-enter-from {
	transform: rotateY(3turn);
	opacity: 0;
}

.uwu-leave-to {
	transform: rotateY(6turn);
	opacity: 0;
}

/*  */
.hoverRubber:hover {
	animation: 0.75s linear 0s 1 normal both running mfm-rubberBand;
}

.hoverTada:hover {
	animation: 0.75s linear 0s 1 normal both running tada;
}

/* Github Markdown Css Override */
html.dark .markdown-body {
	color-scheme: dark;
	--focus-outlineColor: #1f6feb;
	--fgColor-default: #e6edf3;
	--fgColor-muted: #8d96a0;
	--fgColor-accent: #4493f8;
	--fgColor-success: #3fb950;
	--fgColor-attention: #d29922;
	--fgColor-danger: #f85149;
	--fgColor-done: #ab7df8;
	--bgColor-default: #0d1117;
	--bgColor-muted: #161b22;
	--bgColor-neutral-muted: #6e768166;
	--bgColor-attention-muted: #bb800926;
	--borderColor-default: #30363d;
	--borderColor-muted: #30363db3;
	--borderColor-neutral-muted: #6e768166;
	--borderColor-accent-emphasis: #1f6feb;
	--borderColor-success-emphasis: #238636;
	--borderColor-attention-emphasis: #9e6a03;
	--borderColor-danger-emphasis: #da3633;
	--borderColor-done-emphasis: #8957e5;
	--color-prettylights-syntax-comment: #8b949e;
	--color-prettylights-syntax-constant: #79c0ff;
	--color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
	--color-prettylights-syntax-entity: #d2a8ff;
	--color-prettylights-syntax-storage-modifier-import: #c9d1d9;
	--color-prettylights-syntax-entity-tag: #7ee787;
	--color-prettylights-syntax-keyword: #ff7b72;
	--color-prettylights-syntax-string: #a5d6ff;
	--color-prettylights-syntax-variable: #ffa657;
	--color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
	--color-prettylights-syntax-brackethighlighter-angle: #8b949e;
	--color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	--color-prettylights-syntax-invalid-illegal-bg: #8e1519;
	--color-prettylights-syntax-carriage-return-text: #f0f6fc;
	--color-prettylights-syntax-carriage-return-bg: #b62324;
	--color-prettylights-syntax-string-regexp: #7ee787;
	--color-prettylights-syntax-markup-list: #f2cc60;
	--color-prettylights-syntax-markup-heading: #1f6feb;
	--color-prettylights-syntax-markup-italic: #c9d1d9;
	--color-prettylights-syntax-markup-bold: #c9d1d9;
	--color-prettylights-syntax-markup-deleted-text: #ffdcd7;
	--color-prettylights-syntax-markup-deleted-bg: #67060c;
	--color-prettylights-syntax-markup-inserted-text: #aff5b4;
	--color-prettylights-syntax-markup-inserted-bg: #033a16;
	--color-prettylights-syntax-markup-changed-text: #ffdfb6;
	--color-prettylights-syntax-markup-changed-bg: #5a1e02;
	--color-prettylights-syntax-markup-ignored-text: #c9d1d9;
	--color-prettylights-syntax-markup-ignored-bg: #1158c7;
	--color-prettylights-syntax-meta-diff-range: #d2a8ff;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
}

html.light .markdown-body {
	color-scheme: light;
	--focus-outlineColor: #0969da;
	--fgColor-default: #1f2328;
	--fgColor-muted: #636c76;
	--fgColor-accent: #0969da;
	--fgColor-success: #1a7f37;
	--fgColor-attention: #9a6700;
	--fgColor-danger: #d1242f;
	--fgColor-done: #8250df;
	--bgColor-default: #ffffff;
	--bgColor-muted: #f6f8fa;
	--bgColor-neutral-muted: #afb8c133;
	--bgColor-attention-muted: #fff8c5;
	--borderColor-default: #d0d7de;
	--borderColor-muted: #d0d7deb3;
	--borderColor-neutral-muted: #afb8c133;
	--borderColor-accent-emphasis: #0969da;
	--borderColor-success-emphasis: #1a7f37;
	--borderColor-attention-emphasis: #bf8700;
	--borderColor-danger-emphasis: #cf222e;
	--borderColor-done-emphasis: #8250df;
	--color-prettylights-syntax-comment: #57606a;
	--color-prettylights-syntax-constant: #0550ae;
	--color-prettylights-syntax-constant-other-reference-link: #0a3069;
	--color-prettylights-syntax-entity: #6639ba;
	--color-prettylights-syntax-storage-modifier-import: #24292f;
	--color-prettylights-syntax-entity-tag: #0550ae;
	--color-prettylights-syntax-keyword: #cf222e;
	--color-prettylights-syntax-string: #0a3069;
	--color-prettylights-syntax-variable: #953800;
	--color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
	--color-prettylights-syntax-brackethighlighter-angle: #57606a;
	--color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
	--color-prettylights-syntax-invalid-illegal-bg: #82071e;
	--color-prettylights-syntax-carriage-return-text: #f6f8fa;
	--color-prettylights-syntax-carriage-return-bg: #cf222e;
	--color-prettylights-syntax-string-regexp: #116329;
	--color-prettylights-syntax-markup-list: #3b2300;
	--color-prettylights-syntax-markup-heading: #0550ae;
	--color-prettylights-syntax-markup-italic: #24292f;
	--color-prettylights-syntax-markup-bold: #24292f;
	--color-prettylights-syntax-markup-deleted-text: #82071e;
	--color-prettylights-syntax-markup-deleted-bg: #ffebe9;
	--color-prettylights-syntax-markup-inserted-text: #116329;
	--color-prettylights-syntax-markup-inserted-bg: #dafbe1;
	--color-prettylights-syntax-markup-changed-text: #953800;
	--color-prettylights-syntax-markup-changed-bg: #ffd8b5;
	--color-prettylights-syntax-markup-ignored-text: #eaeef2;
	--color-prettylights-syntax-markup-ignored-bg: #0550ae;
	--color-prettylights-syntax-meta-diff-range: #8250df;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
}

.markdown-body {
	@apply font-content-sans;
	--bgColor-default: transparent !important;
	min-height: 0 !important;
}

.markdown-body > h1 > a[href^="#"],
.markdown-body :not(.ignore) h1 > a[href^="#"],
.markdown-body > h2 > a[href^="#"],
.markdown-body :not(.ignore) h2 > a[href^="#"],
.markdown-body > h3 > a[href^="#"],
.markdown-body :not(.ignore) h3 > a[href^="#"],
.markdown-body > h4 > a[href^="#"],
.markdown-body :not(.ignore) h4 > a[href^="#"],
.markdown-body > h5 > a[href^="#"],
.markdown-body :not(.ignore) h5 > a[href^="#"],
.markdown-body > h6 > a[href^="#"],
.markdown-body :not(.ignore) h6 > a[href^="#"] {
	color: var(--color-fg-default);
	cursor: pointer;
}

.markdown-body > h1 > a[href^="#"]:hover,
.markdown-body :not(.ignore) h1 > a[href^="#"]:hover,
.markdown-body > h2 > a[href^="#"]:hover,
.markdown-body :not(.ignore) h2 > a[href^="#"]:hover,
.markdown-body > h3 > a[href^="#"]:hover,
.markdown-body :not(.ignore) h3 > a[href^="#"]:hover,
.markdown-body > h4 > a[href^="#"]:hover,
.markdown-body :not(.ignore) h4 > a[href^="#"]:hover,
.markdown-body > h5 > a[href^="#"]:hover,
.markdown-body :not(.ignore) h5 > a[href^="#"]:hover,
.markdown-body > h6 > a[href^="#"]:hover,
.markdown-body :not(.ignore) h6 > a[href^="#"]:hover {
	text-decoration: none;
}

.markdown-body > ul,
.markdown-body :not(.ignore) ul {
	list-style: disc;
}
.markdown-body > ol,
.markdown-body :not(.ignore) ol {
	list-style: decimal;
}

.markdown-body u {
	text-decoration: underline;
	text-underline-offset: 0.2em;
}

.markdown-body .footnotes {
	padding-top: 16px;
}

.markdown-body > p,
.markdown-body :not(.ignore) p:not(.truncate-box),
.markdown-body li {
	line-height: 1.75;
}

.markdown-body video {
	@apply rounded-lg;
}
